@model StockApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@
<h2 class="text-info text-center">Creer un nouveau compte.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    @*<hr />*@
    @Html.ValidationSummary(true)

    <br />
    <div class="panel panel-default">

        <div class="panel-heading"> </div>
        <div class="panel-body">
            <fieldset id="flinfo" class="info">
                <legend class="bg-info">Information personele </legend>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <input type="hidden"id="CreerPar" name="CreerPar" value="@ViewBag.nomComplet" />
                        <input type="hidden" id="DateCreer" name="DateCreer" value="@DateTime.Now" />
                        <div class="form-group">
                            <label class="control-label col-md-2"> Nom Complet</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.NomComplet, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Id_direction, "Nom Direction", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                          @Html.DropDownListFor(m => m.Id_direction, ViewData["Id_direction"] as IEnumerable<SelectListItem>, new {@class="form-control" })
                          @Html.ValidationMessageFor(m => m.Id_direction)
                  
                         </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <div class="panel-body">
            <fieldset id="flcompte" class="">
                <legend class="bg-info">Information sur le Compte </legend>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <!--Selectionner le Role d'utilisateur-->
                        <div class="form-group">
                            @Html.Label("Type d'utilisateur", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("Name", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <!--Fin-->
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-save"></span> Creer Compte
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            

        </div>
       
    </div>



    

}

<style>
    #flinfo {
    }
</style>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/MonScripts.js")
    @Scripts.Render("~/Scripts/datepicker-fr.js")
    @Scripts.Render("~/Content/jquery.dataTables.min.css")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")

    <link href="~/Content/MonStyle.css" rel="stylesheet" type="text/css" />
}
