@model IEnumerable<StockApp.Models.TB_lot_entrestock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info text-center">Liste des produits du fiche</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    <a href="/BonEntrer/Create" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
       title="Ajouter">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter en Stock
    </a>
</p>

<table class="table table-hover text-center" id="datatable">
    <thead>
        <tr class="text-center">
            <th>
                Date Entrer
                @*@Html.DisplayNameFor(model => model.Date_entrer)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                Nom Articles
                @*@Html.DisplayNameFor(model => model.TB_articles.Nom_articles)*@
            </th>
            <th>
                Code Fiche
                @*@Html.DisplayNameFor(model => model.TB_bonEntre.Description)*@
            </th>
            <th>Qte en Stock </th>
            <th>Action </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.Date_entrer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TB_articles.Nom_articles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TB_bonEntre.TB_livraison.Code_fiche)
                </td>
                <td></td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.Id_lot_entrestock})" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                       title="Modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Details", new { id=item.Id_lot_entrestock})" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top"
                       title="Afficher">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id_lot_entrestock })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"
                       title="supprimer">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="/BonEntrer/Index" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top"
       title="Detail">
        <span class="glyphicon glyphicon-arrow-left"></span> Retourner a la liste
    </a>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function () {

            $("#datatable").DataTable({
                "aLengthMenu": [[10, 15, 30, 60, 100, -1], [10, 15, 30, 60, 100, "All"]],
                //"sPaginationType": "full_numbers",
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher&nbsp;:",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments par page",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",

                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }

            });
        });
    </script>

}